body {
  background-color: #03001c;
}

.boardrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  color: #301e67;
  text-emphasis-color: #5b8fb9;
  height: 5rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
}

.box:hover {
  cursor: pointer;
  background-color: #ffd93d;
}
.box:active {
  background-color: #ff8400;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.GameScreen {
  margin-top: 0.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.restartButton {
  height: 2rem;
  width: 10rem;
  margin-bottom: 0.2rem;
  font-size: 1rem;
  background-color: ghostwhite;
  border-radius: 1rem;
}
.Title {
  display: flex;
  justify-content: center;
  font-size: large;
}
.Title h1 {
  color: gold;
  margin-bottom: 0.2rem;
}

.GameScreen {
  align-items: center;
  color: goldenrod;
}
.GameScreen h2 {
  font-size: 1em;
}
.winMessage {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
